@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* main {
  width: min(100%, 1440px);
  margin-inline: auto;
  min-height: 100vh;
} */

.header-container {
  width: min(1440px, 100%);
  margin-inline: auto;
}

.wrapper {
  @apply max-w-[1440px] mx-auto relative h-screen w-full flex flex-col items-center justify-center p-6 tablet:p-10 desktop:p-12 pt-[88px] tablet:pt-[96px] desktop:pt-[140px] desktop:justify-start  overflow-y-auto;
}

#home {
  background-image: url("/home/background-home-mobile.webp");
  background-size: cover;
  @media (width >= 768px) {
    background-image: url("/home/background-home-tablet.webp");
  }
  @media (width >= 1024px) {
    background-image: url("/home/background-home-desktop.webp");
  }
}

#destination {
  background-image: url("/destination/background-destination-tablet.webp");
  background-size: cover;
  @media (width >= 1024px) {
    background-image: url("/destination/background-destination-desktop.webp");
  }
}

#crew {
  background-image: url("/crew/background-crew-tablet.webp");
  background-size: cover;
  @media (width >= 1024px) {
    background-image: url("/crew/background-crew-desktop.webp");
  }
}

#technology {
  background-image: url("/technology/background-technology-tablet.webp");
  background-size: cover;
  @media (width >= 1024px) {
    background-image: url("/technology/background-technology-desktop.webp");
  }
}

.mask-image {
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, transparent);
  @media (768px <= width < 1024px) {
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 100%, transparent);
  }
}

.active {
  background-color: #fff;
}

.tech {
  @apply flex items-center justify-center size-10 tablet:size-14 large-desktop:size-20 bg-transparent border border-white/50 hover:border-white font-bellefair text-h4-mobile tablet:text-lg-mobile large-desktop:text-h3 rounded-full cursor-pointer transition-all duration-500;
  &.active {
    background-color: #fff;
    color: #0b0d17;
    transition: 0.3s ease-in-out;
  }
  /* @media (width >=768px) {
    width: 3.5rem;
    height: 3.5rem;
  }
  @media (width >=1440px) {
    width: 5rem;
    height: 5rem;
  } */
}
